<!doctype html>
<html ng-app="RecipeApp">
	<head>
		<title>Test Application</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<script src="js/app/recipeController.js"></script>
	</head>

	<body>
		<p>Welcome to Test Application. Select one of the buttons below to open application</p>
		<div ng-controller="recipeController">
		<div><button  ng-click='ShowHide()' class="btn btn-sm btn-info">Show/Hide Recipe Application</button></div>
		<div ng-show="IsVisible">
			<p>Welcome to Recipe Application!!</p>
			<p>Click on button below to get all Recipes</p>
			<button ng-href='#here' ng-click='getAllRecipes()' class="btn btn-sm btn-info">Get All Recipes</button>
			<a id='here'></a>
			<p>OR</p>
			<p>Select the ingredients and click on button to get all Recipes for the ingredients.</p>
			<select name="multipleSelect" id="multipleSelect" ng-model="data.multipleSelect" multiple>
		    <option value="onions">onions</option>
			<option value="butter">butter</option>
			<option value="chicken">chicken</option>
			<option value="salmon">salmon</option>
			<option value="salt">salt</option>
			<option value="ham">ham</option>
			<option value="rice">rice</option>
			<option value="water">water</option>
			<option value="garlic">garlic</option>
			<option value="dijon mustard">dijon mustard</option>
			<option value="italian bread">italian bread</option>
			<option value="pita bread">pita bread</option>
			<option value="vinegar">vinegar</option>
			<option value="vegetable oil">vegetable oil</option>
			<option value="olive oil">olive oil</option>
			<option value="romano cheese">romano cheese</option>
			<option value="mushrooms">mushrooms</option>
			<option value="heavy cream">heavy cream</option>
			<option value="port wine">port wine</option>
			<option value="black pepper">black pepper</option>
			<option value="blue cheese">blue cheese</option>
			<option value="soy sauce">soy sauce</option>
			<option value="red onions">red onions</option>
			<option value="italian dressing">italian dressing</option>
			<option value="sandwich rolls">sandwich rolls</option>
			<option value="mayonaise">mayonaise</option>
			<option value="barbecue sauce">barbecue sauce</option>
			<option value="lettuce">lettuce</option>
			<option value="tomato">tomato</option>
			<option value="balsamic vinegar">balsamic vinegar</option>
			<option value="rosemary">rosemary</option>
			<option value="bacon">bacon</option>
			<option value="eggs">eggs</option>
			<option value="mustard">mustard</option>
			<option value="pastry">pastry</option>
			<option value="pancetta">pancetta</option>
		  </select>
			<button ng-href='#here' ng-click='getRecipeByIngredient()' class="btn btn-sm btn-info">Get Recipes By Ingredient</button>
			<br/>
			<br/>
			<table>
			  <tr ng-repeat="x in msg">
			    <td>{{x.name}}</td>
			  </tr>
			</table>
		</div>
		</div>
		
		<div ng-controller="logController">
		<div><button  ng-click='ShowHide()' class="btn btn-sm btn-info">Show Hide Log Analyzer Application</button></div>
		<div ng-show="IsVisible">
		<p>Welcome to Log Analyzer Application!!</p>
			<p>Click on button after selecting log level.</p>
			<label>
		    <input type="radio" ng-model="level" value="INFO">
		    INFO
		  </label><br/>
		  <label>
		    <input type="radio" ng-model="level" value="DEBUG">
		    DEBUG
		  </label><br/>
		  <label>
		    <input type="radio" ng-model="level" value="ERROR">
		    ERROR
		  </label>
		<br/>
		<button ng-href='#here' ng-click='getCount()' class="btn btn-sm btn-info">Get Description Count</button>
		<br/>
		<table>
			<tr><td>Log Description</td><td>Count</td></tr>
			  <tr ng-repeat="x in msg2">
			    <td>{{x.desc}}</td>
			    <td>{{x.count}}</td>
			  </tr>
			</table>
		</div>
		</div>
		
	</body>
	<link rel="stylesheet" href="css/app/app.css"/>
</html>